.member-image{
    margin: auto;
    margin-left: 6px;
    border-radius:100%;
    width: 20%;
}
.member{
    display: flex;
    /* border-bottom: 1px solid white; */
}
.details{
    text-align: center;
}