.devloper{
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 5px;
    background-color:darkgray;
    width: 75%;
    margin: 15px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}
.devloper-image{
    width: 100% ;
    border-radius: 100%;

}
.details{
    width: 100%;
}

.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.icon-color{
    color: gold;
}
.property{
    font-weight: 600;
}
